# 数据获取

初始化 Spark

In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession # SparkSession 是Spark 2.0版本的新入口
spark = SparkSession.builder.master('local').getOrCreate()

定义schema

In [2]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType

schema= StructType([
    StructField("review_id",StringType(),False),
    StructField("longitude",FloatType(),False),
    StructField("latitude",FloatType(),False),
    StructField("altitude",FloatType(),False),
    StructField("review_date",StringType(),False),
    StructField("temperature",StringType(),False),
    StructField("rating",FloatType(),False),
    StructField("user_id",StringType(),False),
    StructField("user_birthday",StringType(),False),
    StructField("user_nationality",StringType(),False),
    StructField("user_career",StringType(),False),
    StructField("user_income",FloatType(),False),
])

从hdfs加载数据，获得dataframe

In [3]:
data = spark.read.csv(path="hdfs://localhost:9000/user/bdlab/lab1/data_all.txt.gz",header=None,schema=schema,sep='|')

In [4]:
data.show(4)

+---------+---------+---------+---------+-----------+-----------+------+-------+--------------+----------------+-----------+-----------+
|review_id|longitude| latitude| altitude|review_date|temperature|rating|user_id| user_birthday|user_nationality|user_career|user_income|
+---------+---------+---------+---------+-----------+-----------+------+-------+--------------+----------------+-----------+-----------+
|144552912| 9.349849|56.740875|17.052773| 2011/06/27|      18.5℃| 83.91|  38267|    1974-06-08|     Switzerland| programmer|     5042.0|
|144552912| 9.350188| 56.74068| 17.61484| 2016-10-08|      37.8℉|  78.8|   1205|    1991-04-14|           Italy|    teacher|     1705.0|
|144552912| 9.350549|56.740543|18.083536| 2010/05/19|      14.0℃| 80.73|  28343|   May 25,1989|      Luxembourg|     farmer|     3208.0|
|144552912| 9.350806|56.740486|18.279465| 2014/10/19|       2.6℃| 80.52|  36251|August 25,1992|         Belgium| programmer|     2565.0|
+---------+---------+---------+---------+-----------+-----------+------+-------+--------------+----------------+-----------+-----------+
only showing top 4 rows

# 分层抽样

In [5]:
Rdd = data.rdd

In [10]:
# 映射为 pair(career,rows) 
# 按career分层
sample = Rdd.map(lambda x : (x['user_career'],[x]))

In [11]:
sample.take(2)

[('programmer',
  [Row(review_id='144552912', longitude=9.349848747253418, latitude=56.740875244140625, altitude=17.052772521972656, review_date='2011/06/27', temperature='18.5℃', rating=83.91000366210938, user_id='38267', user_birthday='1974-06-08', user_nationality='Switzerland', user_career='programmer', user_income=5042.0)]),
 ('teacher',
  [Row(review_id='144552912', longitude=9.350188255310059, latitude=56.74068069458008, altitude=17.614839553833008, review_date='2016-10-08', temperature='37.8℉', rating=78.80000305175781, user_id='1205', user_birthday='1991-04-14', user_nationality='Italy', user_career='teacher', user_income=1705.0)])]

## 分层抽样

分层

In [6]:
def layer(x,y):
    """
    Row x , y  with same key.
    """

SyntaxError: unexpected EOF while parsing (<ipython-input-6-b0990e6fda49>, line 1)

In [ ]:
data.map